<h1 class="text-center">Registration</h1>
<div class="col-md-4" navigation template-url="partials/registration-menu.html" links="[
    {
      state: 'registration.property',
      title: 'Property',
      url: '/registration/property'
    },
    {
      state: 'registration.transferors-sellers',
      title: 'Transferor(s)/Seller(s)',
      url: '/registration/transferors-sellers'
    }
]"></div>
<div class="col-md-8">
  <form>
    <div ui-view>
      <h3>The disclosure of social security numbers is mandatory as required by Revenue and Taxation Code section 63.1.</h3>
      <p class="text-muted">

        See Title 42 United
  States Code, section 405(c)(2)(C)(i) which authorizes the use of social security numbers for identification purposes in the administration of any
  tax.
      </p>
      A foreign national who cannot obtain a social security number may provide a tax identification number issued by the Internal Revenue
Service. The numbers are used by the Assessor and the state to monitor the exclusion limit.
    <a class="btn btn-primary" ui-sref="registration.property">Begin Registration</a>
    </div>
  </form>
</div>
