<h3>TRANSFEROR(S)/SELLER(S)</h3>
<div ng-repeat="fieldset in data">
  <fieldset ng-if="fieldset.type=='input'" class="form-group">
    <label for="{{fieldset.title}}">{{fieldset.title}}</label>
    <input ng-bind=fieldset.model type="{{fieldset.title}}" class="form-control" id="{{fieldset.title}}" placeholder="{{fieldset.title}}">
  </fieldset>
  <fieldset ng-if="fieldset.type=='multi-choice'" class="form-group">
    <label for="{{fieldset.title}}">{{fieldset.title}}</label>
    <select class="form-control" id="{{fieldset.title}}">
     <option select value="">Choose One</option>
     <option value="{{option}}" ng-repeat="option in fieldset.options">{{option}}</option>
    </select>
  </fieldset>
</div>
<a ui-sref="registration.property" class="btn btn-primary">Previous</a>
<a ui-sref="registration.review" class="btn btn-primary">Next</a>
